<div class="dishlist">
    <section class="content">
     	<div class="panel panel-default panel-body menu-container-fluid">
        <table class="table table-borderless">
          <tbody>
            <%restaurants.forEach(function(restaurant) {%>
            <tr class="rescell">
              <div class="result">
                <div class="center-block">
                <td class="result-img" width="100px">
                  <a href="#">
                    <%if(restaurant.img == null){%>
                      <img src="/restaurant-icon.jpg" class="result-photo">
                    <%}else{%>
                      <img src="<%=restaurant.img%>" class="result-photo">
                    <%}%>
                  </a>
                  </div>
                </td>
              	<td>
                  <h4 class="restitle">
                    <% console.log(restaurant.key) %>
                    <a href="/restaurant/<%=restaurant.key%>" class="namelink"><%= restaurant.name%></a>
                  </h4>
                  <p class="ressummary"><%= restaurant.address%></p>
                </td>
                <td>
                  <h4 class="title">
                       	<% if(user != ""){%>
                       	  <% if(restaurant.saved){%>
                            <label class="staricon" id="staricon">
                              <input type="checkbox" name="fav_reskey" value="<%= restaurant["key"] %>" id="favstar" checked/></input>
                              <span class="checkboxImage"></span>
                            </label>
                          <% }else{ %>
                            <label class="staricon" id="staricon">
                              <input type="checkbox" name="fav_reskey" value="<%= restaurant["key"] %>" id="favstar" /></input>
                              <span class="checkboxImage"></span>
                            </label>
                          <% } %>
                        <% }%>
                    </h4>
                </td>
              </div>
            </tr>
            <% }); %>
          </tbody>
       	</table>
      </div>
   	</section>
</div>