<div class="dishlist">
  <div class="row">
    <section class="content">
      <div class="container panel panel-default panel-body menu-container-fluid">
        <table class="table table-borderless">
          <tbody>
            <%if(favdishes.length==0){%>
              <p class="nocontent">No Favorite Dishes Yet</p>
            <%}%>
            <%favdishes.forEach(function(dish) {%>
            	<tr>
                <div class="result">
                  <td class="result-img" width=100px>
                    <div class="center-block">
                     	<a href="#" class="pull-left">
                        <%if(dish.img == null){%>
                          <img src="/dish-icon.jpg" class="result-photo">
                        <%}else{%>
                          <img src="<%=dish.img%>" class="result-photo">
                        <%}%>
                      </a>
                    </div>
                  </td>
                  <td>
                    <div class="review">
                      <div class="result-description">
                        <h4 class="title">
                          <a href="/dish/<%=dish.key%>" class="namelink"><%= dish.name %></a>
                          <span class="dishresname">    @<%= dish.resname %></span>
                          <label class="staricon">
                            <input type="checkbox" name="fav_dishkey" value="<%= dish["key"] %>" id="favstar" checked/></input>
                            <span class="checkboxImage"></span>
                          </label>
                        </h4>
                        <p class="summary"><%= dish.desc %></p>
                          <% if(dish.rating% 1==0){%>
                            <% for(var i=0; i<dish.rating; i++) {%>
                              <i class="fa fa-star" aria-hidden="true" id="ratingstar"></i>
                            <% } %>
                          <%} else{%>
                            <% for(var i=1; i<dish.rating; i++) {%>
                              <i class="fa fa-star" aria-hidden="true" id="ratingstar"></i>
                            <% } %>
                            <% if(dish.rating % 1>=0.5){%>
                              <i class="fa fa-star-half" aria-hidden="true" id="ratingstar"></i>
                            <% } %>
                          <% }%>
                          <%if(dish.rating==null){%>
                            <span>No ratings yet.</span>
                          <%}else{%>
                            <span>&nbsp(<%= dish.numrating %>)</span>
                          <%}%>
                      </div>
                    </div>
                  </td>
               	</div>
            	</tr>
         		<%}); %>
      		</tbody>
    		</table>
  		</div>
		</section>
	</div>
</div>