<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
  <title>Vittles | Add Item</title>
</head>
<body>
  <%- include('partials/header') %>
  <div class="container">
    <h1>Add Item</h1>
    <form class="form-horizontal" role="form" method="post" action="/newItem">
      <div class="form-group">
        <label class="col-lg-3 control-label">Choose Restaurant:</label>
        <div class="col-lg-8">
          <select class="myselect" name="addrestaurant" style="width: 50%" required>
            <option></option>
            <%restaurants.forEach(function(restaurant) {%>
              <option id="AL"><%= restaurant.name%></option>
            <%}); %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Category:</label>
        <div class="col-lg-8 dropdown">
          <select class="myselect" name="addtype" style="width: 50%" required>
            <option></option>
            <%types.forEach(function(types) {%>
              <option id="AL"><%= types.type%></option>
            <%}); %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Add Dish:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text" placeholder="Name" name="adddishname" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Add Description:</label>
        <div class="col-lg-8">
          <textarea class="form-control" rows="3" type="text" placeholder="Decription" name="adddishdesc" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8 buttons">
          <label for="file-upload" class="custom-file-upload">Add dish image</label>
          <input type="file" id="file-upload" name="adddishimage" accept="image/gif, image/jpeg, image/png" required>
          </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8 buttons">
          <input type="submit" class="btn btn-primary" value="Add Item" id="additem"required>
          <span></span>
          <input type="reset" class="btn btn-default" value="Cancel">
        </div>
      </div>
    </form>
  </div>
</body>
<%- include('partials/js-imports.ejs') -%>
</html>