<head>
    <title>Vittles | Restaurant</title>
    <%- include('partials/head') %>

    <style>
        .col-xs-12{
            height: 100px;
            background-color: lightgray;
            text-align: center;
        }
    </style>

</head>
<body>

<!--Makes look good on all sizes-->
<div>

    <%- include('partials/header') %>

    <div class="dishlist">
        <!--!!!!-->
        <div class="container-fluid">
            <div class="row">

                <section class="content">


                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class ="row">
                                    <div class = "center-block" style = "width:500px">
                                        <center>
                                            <div class="dish-container-fluid">
                                                <img src="<%=dish.img%>" class="result-photo">
                                                <div><h3><a href="/restaurant/<%=dish.restaurant_id%>"><%=dish.restaurant%>:</a> <%=dish.name%></h3></div>
                                                <p></p><div><%=dish.desc%></div></p>
                                                <% if(dish.numrating>0){ %>
                                                    <div>
                                                        <% if(dish.rating% 1==0){%>
                                                            <% for(var i=0; i<dish.rating; i++) {%>
                                                                <i class="fa fa-star" aria-hidden="true" id="ratingstar"></i>
                                                            <% } %>
                                                        <%} else{%>
                                                            <% for(var i=1; i<dish.rating; i++) {%>
                                                                <i class="fa fa-star" aria-hidden="true" id="ratingstar"></i>
                                                            <% } %>
                                                            <% if(dish.rating % 1>=0.5){%>
                                                                <i class="fa fa-star-half" aria-hidden="true" id="ratingstar"></i>
                                                            <% } %>
                                                        <% }%>
                                                     </div>
                                                    <span>&nbsp(<%= dish.numrating %>)</span>
                                                <% } %>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              
              
              
                <% if (user != "") { %>
                    <center>
                        <div class="panel panel-default" id="reviewbox" style="width:400px">
                            <form role="form" method="post" action="/newReview">
                                <div class="panel-body">
                                    <div class="menu-container-fluid">
                                        <div class="form-group">
                                            <center>
                                                
                                                <h4 id="reviewheader" style="display:block"><i>Tried this dish out? Leave it a review!</i></h4>
                                                <hr id="top-divider" style="display:block"></hr>
                                                <!--src= https://jsfiddle.net/leaverou/CGP87/ -->
                                                &nbsp;
                                                <fieldset class="onpage-rating" style="display:inline">
                                                  <input type="radio" id="s5" name="reviewrating" value="5" /><label for="s5"></label>
                                                  <input type="radio" id="s4" name="reviewrating" value="4" /><label for="s4"></label>
                                                  <input type="radio" id="s3" name="reviewrating" value="3" /><label for="s3"></label>
                                                  <input type="radio" id="s2" name="reviewrating" value="2" /><label for="s2"></label>
                                                  <input type="radio" id="s1" name="reviewrating" value="1" /><label for="s1"></label>
                                                </fieldset>
                                                
                                                <hr id="bottom-divider" style="display:none"></hr>
                                                
                                                <input class="form-control" type="text" rows="3" placeholder="What did you think?" id="onpage-reviewtitle" name="reviewtitle" style="display:none; max-width:100%; min-width:100%;"></textarea>
                                                <div class="extraspace" style="display:none; height:10px"></div>
                                                <textarea class="form-control" rows="3" placeholder="Go ahead, tell us more!" id="onpage-reviewpost" name="reviewpost" style="display:none; max-width:100%; min-width:100%;"></textarea>
                                                <div class="extraspace" style="display:none; height:10px"></div>
                                                <input type="submit" class="btn btn-primary" id="submitrev" value="Post Review" style="display:none;" required>
                                                
                                                <input name="reviewrestaurant" style="display:none" value="<%=dish.restaurant%>"></textarea>
                                                <input name="reviewdish" style="display:none" value="<%=dish.name%>"></textarea>

                                                
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </center>
                <% } %>
              


                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="menu-container-fluid">
                                <% if(reviews.length > 0){ %>
                                    <table class="table table-borderless">
                                        <tbody>
                                        	<%reviews.forEach(function(review) {%>
                                        	    <tr class="review-row">
                                        	        
                                		            <td class="dish-rating" style = "width:100px; padding-right:50px">
                                        		          <a href="#" class="pull-left">
                                        		           <img src="https://media.licdn.com/mpr/mpr/p/4/005/06a/2bc/180b3b7.jpg" class="sub-dish-photo">
                                        		          </a>
                                    		              <a href="profile"><%=review.name%></a>
                                		            </td>
                                		            
                                		            <td>
                                		                <div class="dish-description">
                                                                <% if(review.rating% 1==0){%>
                                                                    <% for(var i=0; i<review.rating; i++) {%>
                                                                        <i class="fa fa-star" aria-hidden="true" id="ratingstar"></i>
                                                                    <% } %>
                                                                <% } else { %>
                                                                    <% for(var i=1; i<review.rating; i++) {%>
                                                                        <i class="fa fa-star" aria-hidden="true" id="ratingstar"></i>
                                                                    <% } %>
                                                                    <% if(review.rating % 1>=0.5){%>
                                                                        <i class="fa fa-star-half" aria-hidden="true" id="ratingstar"></i>
                                                                    <% } %>
                                                                <% }%>
                                		                    <div class="dish-description">
                                		                        <h4 class="summary"><%=review.title%></h4>
                                		                        <p><%=review.body%></p>
                                		                    </div>
                                		                </div>
                                		            </td>
                                		            
                                    		    </tr>
                                        	<%}); %>
                                        
                                        </tbody>
                                    </table>
                                <% }else{ %>
                                    <center>
                                        <h3 style="color:lightgray">No reviews yet... Help us out and be first!</h3>
                                    </center>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                    
                </section>

            </div>
        </div>
        <!--!!!!-->
    </div>

</div>


</body>
<%- include('partials/js-imports.ejs') -%>
</html>