<head>
    <title>Vittles | Restaurant</title>
    <%- include('partials/head') %>

    <style>
        .col-xs-12{
            height: 100px;
            background-color: lightgray;
            text-align: center;
        }
    </style>

</head>
<body>

<!--Makes look good on all sizes-->
<div class="container-fluid">

    <%- include('partials/header') %>

    <div class="dishlist">
        <!--!!!!-->
        <div class="container-fluid">
            <div class="row">

                <section class="content">


                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class ="row">
                                    <div class = "center-block" style = "width:200px">
                                        <div class="dish-container-fluid">
                                            <img src="blah.jpg" class="main-dish-photo">
                                            <div>Overall dish rating</div>
                                            <div>dish description</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="menu-container-fluid">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <table class="table table-borderless">
                                                <tbody>
                                                	<%reviews.forEach(function(review) {%>
                                            		    <tr>
                                            		        <div class="dish">
                                            		            <td class="dish-rating">
                                            		                <div class="center-block">
                                            		                    <a href="#" class="pull-left">
                                            		                        <img src="blah.jpg" class="sub-dish-photo">
                                            		                    </a>
                                            		                </div>
                                            		            </td>
                                            		            <td>
                                            		                <div class="dish-description">
                                            		                    <a>
                                            		                        <i class="glyphicon glyphicon-star"></i>
                                            		                    </a>
                                            		                    <div class="dish-description">
                                            		                        <h4 class="title">
                                            		                            <a href="dish"><%-review.name%></a>
                                            		                        </h4>
                                            		                        <p class="summary"><%-review.title%></p>
                                            		                    </div>
                                            		                </div>
                                            		            </td>
                                            		        </div>
                                            		    </tr>
                                                	<%}); %>
                                                </tbody>
                                            </table>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <!--!!!!-->
    </div>

</div>


</body>
<%- include('partials/js-imports.ejs') -%>
</html>