<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Vittles | Edit Profile</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <h1>Edit Profile</h1>
      <div class="row">
        <div class="col-md-9 edit-profile-user">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-lg-3 control-label">Profile Picture:</label>
              <div class="col-lg-8 edit-profile-userimg">
                <% if(userInfo.img == null || userInfo.img == "") { %>
                <img class="img img-thumbnail" src="https://media.licdn.com/mpr/mpr/p/4/005/06a/2bc/180b3b7.jpg">
                <% } else { %>
                <img class="img img-thumbnail" src="<%=userInfo.img%>">
                <% } %>
                <div>
                  <label for="profilePic" class="custom-file-upload">Change profile picture</label>
                  <input type="file" id="profilePic" class="file-input" name="userimg">
                </div>
                <div>
                  <p id="newPictureText">New picture:</p>
                  <img style="height: auto; max-width: 150px; padding: 20px 0px; display: none" id="imagePreview" src="">
                </div>  
                  
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Name:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="<%=userInfo.name%>" name="editusername">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Location:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="<%=userInfo.location%>" name="edituserlocation">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8 buttons">
                <input type="submit" id="submitProfileUpdate" class="btn btn-primary" value="Save Changes" required>
                <span></span>
                <a href="/profile" class="btn btn-default" value="Cancel">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('partials/js-imports.ejs') -%>
    <script src="/js/editProfile.js"></script>
  </body>
</html>