<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <title>Vittles | Home</title>
</head>
<body>
  <%- include('partials/header') %>
  
  <div class="jumbotron mainHeader">
    <h1>What's good in town?</h1>
      <p>Discover some of the best dishes nearby and check out what's trending!</p>
  </div>
  
  <div class="container">
    
    <ul class="nav nav-tabs">
      <li class="nav-item col-md-6 active">
        <a class="nav-link active" href="#hotdish" id="tab-1" data-toggle="tab">Hot Dishes</a>
      </li>
      <li class="nav-item col-md-6">
        <a class="nav-link" href="#hotrestaurants" id="tab-2" data-toggle="tab">Hot Restaurants</a>
      </li>
    </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="hotdish">
          <%- include('partials/showdishcontent')%>
        </div>
        <div class="tab-pane" id="hotrestaurants">
          <%- include('partials/showrestaurantscontent')%>
        </div>
      </div>
    </div>

<%- include('partials/js-imports.ejs') -%>
</body>
</html>