<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Vittles | Profile</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <h1>Profile Page</h1>
      <div class="profile-user">
        <% if( profile.img == "" || profile.img == null) {  %>
          <img src="https://media.licdn.com/mpr/mpr/p/4/005/06a/2bc/180b3b7.jpg">
        <% } else { %>
          <img src="<%=profile.img%>" style="width: 170px; height: 170px;">
        <% } %>
        <div class="profile-username">
          <%- profile.name%>
        </div>
        <div class="profile-userlocation">
          <%- profile.location%>
        </div>
        <div class="profile-edit">
          <a href="editprofile">Edit Profile</a>
        </div>
      </div>
      <div class="profile-reviews">
        <ul class="nav nav-tabs">
          <li class="nav-item col-md-6 active">
            <a class="nav-link active" href="#userfavdishes" id="tab-1" data-toggle="tab">Favorite Dishes</a>
          </li>
          <li class="nav-item col-md-6">
            <a class="nav-link" href="#userfavrestaurants" id="tab-2" data-toggle="tab">Favorite Restaurants</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="userfavdishes">
            <%- include('partials/showfavdishes')%>
          </div>
          <div class="tab-pane" id="userfavrestaurants">
            <%- include('partials/showfavres')%>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/js-imports.ejs') -%>
  </body>
</html>