<head>
    <title>Vittles | Restaurant</title>
    <%- include('partials/head') %>
    <style>
        .col-xs-12{
            height: 100px;
            background-color: lightgray;
            text-align: center;
        }
    </style>

</head>
<body>
    <div>
        <%- include('partials/header') %>
        <div class="dishlist">
            <div class="container-fluid">
                <div class="row">
                    <section class="content">
                        <div class="container">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class ="row">
                                        <div class = "center-block" style = "width:200px">
                                            <div class="restaurant-container-fluid">
                                                <center>
                                                    <%if(restaurant.img == null){%>
                                                      <div><img src="/restaurant-icon.jpg" class="result-photo"></div>
                                                    <%}else{%>
                                                         <div><img src="<%=restaurant.img%>" class="result-photo"></div>
                                                     <%}%>
                                                <h3><div><%=restaurant.name%></div></h3>
                                                <h4><div><%=restaurant.address%></div></h4>
                                                    <% if(restaurant.numrating>0){ %>
                                                        <div>
                                                            <% if(restaurant.avgdishrating% 1==0){%>
                                                                <% for(var i=0; i<restaurant.avgdishrating; i++) {%>
                                                                    <i class="fa fa-star" aria-hidden="true" id="ratingstar"></i>
                                                                <% } %>
                                                            <%} else{%>
                                                                <% for(var i=1; i<restaurant.avgdishrating; i++) {%>
                                                                    <i class="fa fa-star" aria-hidden="true" id="ratingstar"></i>
                                                                <% } %>
                                                                <% if(restaurant.avgdishrating % 1>=0.5){%>
                                                                    <i class="fa fa-star-half" aria-hidden="true" id="ratingstar"></i>
                                                                <% } %>
                                                            <% }%>
                                                        </div>
                                                        <span>&nbsp(<%= restaurant.numrating %>)</span>
                                                    <% } %>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <% if (user != "") { %>
                            <center>
                                <div class="panel panel-default" id="reviewbox" style="width:400px">
                                    <form role="form" method="post" action="/newItem">
                                        <div class="panel-body">
                                            <div class="menu-container-fluid">
                                                <div class="form-group">
                                                    <center>
                                                        
                                                        <h4 id="additemheader" style="display:block"><i>Know of a dish that's not listed on here?</i></h4>
                                                        <hr id="top-divider" style="display:block"></hr>
                                                        
                                                        <input class="btn btn-primary" id="add-item" value="Add it!"  style="display:block" required>
                                                        
                                                        <div id="categorylist" style="display:none">
                                                          <select class="myselect" name="addtype" style="width: 100%" required>
                                                            <option></option>
                                                            <%types.forEach(function(types) {%>
                                                              <option id="AL"><%= types.type%></option>
                                                            <%}); %>
                                                          </select>
                                                        </div>
                                                        
                                                        <div class="extraspace" style="display:none; height:10px"></div>
                                                        
                                                        <input class="form-control" type="text" rows="3" placeholder="Dish Name" id="onpage-adddishname" name="adddishname" style="display:none; max-width:100%; min-width:100%;" required></textarea>
                                                        
                                                        <div class="extraspace" style="display:none; height:10px"></div>
                                                        
                                                        <textarea class="form-control" rows="3" placeholder="Dish Description" id="onpage-adddishdesc" name="adddishdesc" style="display:none; max-width:100%; min-width:100%;" required></textarea>
                                                        
                                                        <div class="extraspace" style="display:none; height:10px"></div>
                                                        
                                                        
                                                        <div id="addimglabel" style="display:none; width:600px;">
                                                          <center>
                                                               <label for="file-uploadrespage" class="custom-file-upload">Add dish image</label>
                                                              <input type="file" name="adddishimage" id="file-uploadrespage" accept="image/gif, image/jpeg, image/png" style="float:right">
                                                          </center>
                                                        </div>
                                                        
                                                        <div class="extraspace" style="display:none; height:10px"></div>
                                                        
                                                        <input type="submit" class="btn btn-primary" id="additem" value="Add Dish!"  style="display:none" required>
                                                    
                                                        <input name="addrestaurant" style="display:none" value="<%=restaurant.name%>"></textarea>
        
                                                        
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </center>
                        <% } %>


                        <div class="container">
                            <div class="dishlist">
                                <section class="content">
                                  <div class=" panel panel-default panel-body menu-container-fluid">
                                        <% if(dishes.length>0){ %>
                                            <table class="table table-borderless">
                                                  <tbody>
                                                        <% console.log(dishes.length) %>
                                                        <% dishes.forEach(function(dish) { %>
                                                           	<tr>
                                                                <div class="result">
                                                                    <td class="result-img">
                                                                      <div class="center-block">
                                                                        <a href="#" class="pull-left">
                                                                          <img src="<%=dish.img%>" class="result-photo">
                                                                        </a>
                                                                      </div>
                                                                    </td>
                                                                    <td>
                                                                      <div class="review">
                                                                        <div class="result-description">
                                                                          <h4 class="title">
                                                                            <a href="/dish/<%=dish.key%>" class="namelink"><%= dish.name %></a>
                                                                            <% if(user != ""){%>
                                                                                <% if(dish.saved){%>
                                                                                  <label class="staricon" id="staricon">
                                                                                    <input type="checkbox" name="fav_dishkey" value="<%= dish["key"] %>" id="favstar" checked/></input>
                                                                                    <span class="checkboxImage"></span>
                                                                                  </label>
                                                                                <%} else{%>
                                                                                  <label class="staricon" id="staricon">
                                                                                    <input type="checkbox" name="fav_dishkey" value="<%= dish["key"] %>" id="favheart" /></input>
                                                                                    <span class="checkboxImage"></span>
                                                                                  </label>
                                                                                <% }%>
                                                                            <% }%>
                                                                          </h4>
                                                                          <p class="summary"><%= dish.desc %></p>
                                                                            <% if(dish.rating% 1==0){%>
                                                                                <% for(var i=0; i<dish.rating; i++) {%>
                                                                                    <i class="fa fa-star" aria-hidden="true" id="ratingstar"></i>
                                                                                <% } %>
                                                                            <%} else{%>
                                                                                <% for(var i=1; i<dish.rating; i++) {%>
                                                                                    <i class="fa fa-star" aria-hidden="true" id="ratingstar"></i>
                                                                                <% } %>
                                                                                <% if(dish.rating % 1>=0.5){%>
                                                                                    <i class="fa fa-star-half" aria-hidden="true" id="ratingstar"></i>
                                                                                <% } %>
                                                                            <% }%>
                                                                            <%if(dish.rating==null){%>
                                                                                <span>No ratings yet.</span>
                                                                            <%}else{%>
                                                                                <span>&nbsp(<%= dish.numrating %>)</span>
                                                                            <%}%>
                                                                      	</div>
                                                                      </div>
                                                                   	</td>
                                                              </div>
                                                            </tr>
                                                      	<% }); %>
                                                	</tbody>
                                          	</table>
                                        <% }else{ %>
                                            <center>
                                                <h3 style="color:lightgray">No menu items have been added yet.</h3>
                                            </center>
                                        <% } %>
                                	</div>
                              	</section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/js-imports.ejs') -%>
</body>

</html>