<head>
  <title>Vittles | Restaurant</title>
  <%- include('partials/head') %>

  <style>
    .col-xs-12{
      height: 100px;
      background-color: lightgray;
      text-align: center;
    }
  </style>
</head>

<body>
<!--Makes look good on all sizes-->
  <%- include('partials/header') %>

  <div class="container-fluid">

    <div class="dishlist">
      <div class="container-fluid">
        <div class="row">
          <section class="content">
            <div class="container">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="menu-container-fluid">
                    <table class="table table-borderless">
                      <tbody>
                        <%results.forEach(function(result) {%>
                          <tr>
                            <div class="result">
                              <td class="result-img">
                                <div class="center-block">
                                  <a href="#" class="pull-left">
                                    <img src="blah.jpg" class="result-photo">
                                  </a>
                                </div>
                              </td>
                              <td>
                                <div class="review">
                                  <div class="result-description">
                                    <h4 class="title">
                                      <a href="dish"><%-result.name%></a>
                                    </h4>
                                      <p class="summary"><%-result.desc%></p>
                                  </div>
                                </div>
                              </td>
                            </div>
                          </tr>
                        <%}); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('partials/js-imports.ejs') -%>
</html>